.statistic {
	width: 100%;
	max-width: 1200px;
	max-height: 500px;
	display: flex;
	justify-content: space-between;
	color: white;

	@media (max-width: 1250px) {
		max-width: 1000px;
	}

	@media (max-width: 1050px) {
		max-width: 850px;
	}

	@media (max-width: 900px) {
		flex-direction: column-reverse;
		max-height: 100%;
		align-items: center;
	}
}

.info {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;

	@media (max-width: 900px) {
		align-items: center;
	}
}

.header {
	background: linear-gradient(
		42deg,
		#f9e5b2,
		#640dfb 25%,
		rgba(79, 39, 150, 0.73)
	);
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
	background-clip: text;
	font-size: 28px;
	line-height: 30px;
	margin-bottom: 15px;

	@media (max-width: 900px) {
		text-align: center;;
	}
}

.interest {
	width: 450px;
	font-size: 48px;
	line-height: 55px;
	margin-bottom: 45px;

	@media (max-width: 900px) {
		width: 100%;
		text-align: center;
	}
}

.line {
	width: 380px;
	height: 2px;
	color: rgba(255, 255, 255, 0);
	background-image: linear-gradient(to right, #fff, transparent);
	margin-bottom: 25px;

	@media (max-width: 900px) {
		display: none;
	}
}

.details {
	width: 100%;
	display: flex;
	align-items: center;

	@media (max-width: 900px) {
		justify-content: center;
		width: 90%;
	}

	@media (max-width: 575px) {
		flex-wrap: wrap;
		text-align: center;
	}
}

.arrow {
	width: 80px;
	height: 80px;
	margin-right: 25px;
	
	@media (max-width: 575px) {
		width: 50px;
		height: 50px;
	}
}

.details_header {
	font-size: 40px;
}

.details_info {
	width: 100%;
	font-size: 18px;
	font-style: italic;
	
	@media (max-width: 575px) {
		margin-top: 25px;
	}
}

.image {
	width: 100%;
	height: 100%;
	max-width: 450px;

	@media (max-width: 900px) {
		width: 75%;
		max-width: 75%;
		margin-bottom: 20px;
	}
}
