.footer {
	width: 100%;
	display: flex;
	justify-content: center;
	padding: 75px 0;
	color: white;

	@media (max-width: 825px) {
		padding-bottom: 30px;
	}
}

.main {
	width: 100%;
	max-width: 1100px;

	@media (max-width: 1200px) {
		max-width: 900px;
	}

	@media (max-width: 925px) {
		max-width: 750px;
	}

	@media (max-width: 815px) {
		max-width: 500px;
	}

	@media (max-width: 530px) {
		max-width: 90%;
	}
}

.headers {
	display: flex;
	margin-bottom: 50px;

	> h3:last-child {
		margin-right: 0;
	}

	@media (max-width: 925px) {
		width: 100%;
		justify-content: center;
	}

	@media (max-width: 530px) {
		flex-direction: column;
		text-align: center;
	}
}

.header {
	margin-right: 25px;
	font-size: 18px;
	line-height: 27px;
	font-weight: 500;
	text-transform: capitalize;

	@media (max-width: 530px) {
		margin-bottom: 10px;
	}
}

.texts {
	width: 100%;
	margin-bottom: 50px;
}

.underline {
	width: 100%;
	height: 2px;
	background-color: #241C30;
	margin-bottom: 30px;
}

.line {
	height: 20px;
	width: 2px;
	background-color: #241C30;
	margin: 0 25px 0 10px;

	@media (max-width: 630px) {
		display: none;
	}
}

.text {
	width: 100%;
	font-weight: 500;
	font-size: 16px;
	line-height: 24px;
	opacity: 0.8;
	margin-bottom: 15px;
}

.content {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;

	@media (max-width: 825px) {
		flex-direction: column-reverse;
		align-items: center;
	}

}

.else {
	display: flex;
	align-items: center;

	@media (max-width: 825px) {
		margin-bottom: 30px;
	}

	@media (max-width: 630px) {
		flex-direction: column;
	}
}

.icons {
	display: flex;
	align-items: center;

	@media (max-width: 630px) {
		margin-bottom: 20px;
	}
}

.icon {
	width: 22px;
	height: 22px;
	display: flex;
	align-items: center;
	margin: 0 10px;
}

.buttons {
	display: flex;
	align-items: center;

	> button:first-child {
		margin-right: 10px;
	}

	@media (max-width: 385px) {
		flex-direction: column;

		> button:first-child {
			margin-right: 0;
			margin-bottom: 10px;
		}
	}
}
