$max-width: 1080px;
$border-radius: 18px;
$font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
	'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
	'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;
$main-bg-color: #0a0019;
$main-button-background: linear-gradient(160deg, rgba(249, 229, 178, .85) 3%, #640dfb 33%, #640dfb);
