.swiper-pagination-bullet.swiper-pagination-bullet-active {
	background: #b724ff;
	width: 75px;
	height: 5px;
	border-radius: 15px;
}

.swiper-pagination-bullet {
	background: #ffffff;
	width: 30px;
	height: 5px;
	border-radius: 15px;
	margin: 0 5px;
}

.swiper-pagination-fraction,
.swiper-pagination-custom,
.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal {
	top: 200px !important;
	display: flex;
	position: absolute;
	width: 100%;
}
